<% include ../partials/header %>

<div class="d-flex justify-content-center align-items-center detail">
    <div class="d-flex align-items-center">
    <% if (user.image) { %>
        <img src="<%= user.image %>" alt="avatar" class="col-md-6 detail-image">
    <% } else { %>
        <img src="/images/useravatar.png" alt="avatar" class="col-md-6 detail-image">
    <% } %>
    
    <div class="col-md-6 product-infor">
        <h4><%= user.name %></h4>
        <h5><%= user.username %></h5>
        <p><%= user.email %></p>
        <p><%= user.phone %></p>
    </div>
</div>
</div>

<% include ../partials/footer %>